*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgba(1, 2, 2, 0.5);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: goldenrod;

}
header h1{
    color: black;
    font-size: 50px;

}
header span{
    color: orange;
    font-size: 50px;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;
    margin: 5px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}
.res{
    background: darkmagenta;
    color: white;
    border-radius: 10px;
}
nav ul li a:hover{
    background: orange;
    font-size: 25px;
    color: red;
    transition: 1.5s;
    border-radius: 10px;
}
.div1{
    text-align: center;
    padding: 50px;
    color: yellow;
    
}
div{
    border: 2px solid red;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 40%;
    border: none;
    
}
.img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
}
.khan{
    position: absolute;
    top: 150px;
    text-align: center;
    color: aliceblue;
    margin-left: 10px;
}
.pro{
    position: absolute;
    top: 200px;
    left: 30px;
    text-align: center;
    color: aliceblue;
    margin-left: 10px; 
}
.jan{
    position: absolute;
    top: 250px;
    left: 45px;
    text-align: center;
    color: aliceblue; 
    margin-left: 10px;
}
.gml{
    position: absolute;
    top: 300px;
    left: 20px;
    text-align: center;
    color: aliceblue;
    margin-left: 10px; 
}
button{
    position: absolute;
    top: 350px;
    left: 40px;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    border-left: none;
    border-right: none;
    font-size: 20px;
}
button:hover{
    background: orchid;
    color: red;
    font-size: 30px;
    transition: 1,2s;

}